body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.game-board {
  width: 358px;
  margin-left: 35%;
  margin-top: 1%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

button {
  background: none;
  border: none;
}

button:focus {
  outline: none;
  border-style: outset;
  border: none;
}

button:active {
  outline: none;
  border-style: outset;
}

.center {
  border-top: 5px solid #999;
  border-bottom: 5px solid #999;
}

.square {
  background: #fff;
  float: left;
  font-size: 95px;
  line-height: 34px;
  height: 120px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 120px;
}

.square:focus {
  outline: none;
  border-style: outset;
  border: none;
}

.left {
  border-right: 5px solid #999;
}

.right {
  border-left: 5px solid #999;
}

.left:focus {
  border: none;
  border-right: 5px solid #999;
}

.right:focus {
  border: none;
  border-left: 5px solid #999;
}

.game-message {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 25px;
}

.computer {
  text-decoration: underline;
  float: right;
  font-size: 15px;
  color: #4c4c4c;
}
